# all node dependencies
node_modules

# package-lock
package-lock.json

# tsconfig buildinfo
tsconfig.tsbuildinfo

# compiled js
dist

# vscode folder
.vscode

.clj-kondo/.cache/v1/lock
.lsp/.cache/db.transit.json