.grid-container {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  justify-content: center;

  gap: 5px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  font-weight: bold;
}

/* Drag styling */

#drag {
  border: blue solid 1px;
}